.container{
position: relative;
left: 450px;


}
.cabeza{
    width: 20px;
    height: 130px;
    position: relative;
    left: 250px;
    background-color: black;

}
.cuerpo{
    background-color: black;
    width: 115px;
    height: 260px;
    position: relative;
    left: 200px;
    border-radius: 15px;
}
.luces{
    width: 100px;
    height: 230px;
    position: relative;
    left: 190px;
    top: -245px;
    border-radius: 10px;
}
.red{
    width: 70px;
    height: 70px;
    position: relative;
    left: 35px;
    border-radius: 100px;
}
.yellow{
    width: 70px;
    height: 70px;
    position: relative;
    left: 35px;
    top: 10px;
    border-radius: 100px;
}
.green{
    width: 70px;
    height: 70px;
    position: relative;
    left: 35px;
    top: 20px;
    border-radius: 100px;
}

.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.light-on{
    box-shadow: 0 0 30px 10px white;
}